<GhApp @showSettingsMenu={{this.ui.showSettingsMenu}}>
    <GhSkipLink @anchor=".gh-main">Skip to main content</GhSkipLink>

    <GhAlerts />
{{#if this.currentUser.isAdmin}}
    <div class="gh-viewport {{if this.ui.showSettingsMenu 'settings-menu-expanded'}} {{if this.ui.showMobileMenu 'mobile-menu-expanded'}} ">
    
            <GhNavMenu @icon={{this.settings.settledIcon}} />
        

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}
        </main>

        <GhNotifications />

        <GhContentCover />

        <GhMobileNavBar />

        <GhWhatsNew />
        
    </div>{{!gh-viewport}}
    {{else}}
     <div class="gh-viewport ">
    
            {{!-- <GhNavMenu @icon={{this.settings.settledIcon}} /> --}}
        

        <main class="gh-main {{this.ui.mainClass}}" role="main">
            {{outlet}}
        </main>

        <GhNotifications />

        <GhContentCover />

        {{!-- <GhMobileNavBar /> --}}

        <GhWhatsNew />
        
    </div>{{!gh-viewport}}
    {{/if}}

    {{#if this.customViews.showFormModal}}
        <GhFullscreenModal
            @modal="custom-view-form"
            @close={{this.customViews.toggleFormModal}}
            @modifier="action narrow"
        />
    {{/if}}

    {{#if this.showBilling}}
        <GhBillingModal />
    {{/if}}
</GhApp>

<EmberLoadRemover />