<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="gh-flow">
    <script>
	$( document ).ready(function() {
		top.hideUI();
        $('#carouselExampleSlidesOnly').carousel('cycle');
         $('#carouselExampleFade').carousel('cycle');
	});
</script>
<style>
        @keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}   
    .gh-main, .gh-flow-content-wrap {
        background-image: url('http://pixelartmaker.com/art/9c1cbb90d7a7474.png');
        background-repeat: repeat;
        background-size: 1cm;
        background-color: blueviolet;
        animation: animatedBackground 20s linear infinite;
        {{!-- background: url('/img/katana1.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat; --}}
    }
</style>
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
             <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/logo1.jpg" class="d-block w-100" alt="..." data-interval="2000">
    </div>
    <div class="carousel-item">
      <img src="/img/logo2.jpg" class="d-block w-100" alt="..." data-interval="2000">
    </div>
    <div class="carousel-item">
      <img src="/img/logo3.jpg" class="d-block w-100" alt="..." data-interval="2000">
    </div>
    <div class="carousel-item">
      <img src="/img/logo4.jpg" class="d-block w-100" alt="..." data-interval="2000">
    </div>
    <div class="carousel-item">
      <img src="/img/logo5.jpg" class="d-block w-100" alt="..." data-interval="2000">
    </div>
  </div>
</div>  
  {{!-- <h2>MIRKO</h2>
  <h2>MARKO</h2>
  <h2>.pl</h2> --}}
 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
  <h2>casual dating</h2>
    </div>
    <div class="carousel-item">
  <h2>awesome people</h2>
    </div>
    <div class="carousel-item">
  <h2>!!! !!!</h2>
    </div>
  </div>
</div>

            {{#if this.passwordResetEmailSent}}
                <div class="gh-auth-email">
                    <div class="gh-auth-animation-container">
                        <div class="gh-auth-email-animation">
                            {{svg-jar "locked-email-back" class="gh-auth-envelope-back"}}
                            {{svg-jar "locked-email-front" class="gh-auth-envelope-front"}}
                            <div class="gh-auth-paper">
                                {{svg-jar "locked-email-lock" class="gh-auth-lock"}}
                            </div>
                        </div>
                    </div>
                    <div class="gh-auth-lock-body">
                        <p>
                            For security, you need to create a new password. An email has been sent to you with instructions!
                        </p>
                    </div>
                </div>
            {{else}}
           
            {{!-- <form id="login" method="post" class="gh-signin" novalidate="novalidate" {{action "authenticate" on="submit"}}> --}}
                {{!-- <GhFullscreenModal @modal="invite-new-user"
            @close={{action "toggleInviteUserModal"}}
            @modifier="action wide" /> --}}
                <form id="login" method="post" class="" novalidate="novalidate" {{action "authenticate" on="submit"}}>
                <GhFormGroup @errors={{this.signin.errors}} @hasValidated={{this.hasValidated}} @property="identification">
                    <span class="gh-input-icon gh-icon-mail">
                        {{svg-jar "email"}}
                        <GhTrimFocusInput
                            @class="email"
                            @type="email"
                            @placeholder="Email Address"
                            @name="identification"
                            @autocapitalize="off"
                            @autocorrect="off"
                            @autocomplete="username"
                            @tabindex="1"
                            @value={{readonly this.signin.identification}}
                            @input={{action (mut this.signin.identification) value="target.value"}}
                            @focus-out={{action "validate" "identification"}}
                        />
                    </span>
                </GhFormGroup>
                <GhFormGroup @errors={{this.signin.errors}} @hasValidated={{this.hasValidated}} @property="password">
                    <span class="gh-input-icon gh-icon-lock forgotten-wrap">
                        {{svg-jar "lock"}}
                        <GhTextInput
                            @class="password"
                            @type="password"
                            @placeholder="Password"
                            @name="password"
                            @tabindex="2"
                            @autocomplete="current-password"
                            @autocorrect="off"
                            @value={{readonly this.signin.password}}
                            @input={{action (mut this.signin.password) value="target.value"}} />

                        <GhTaskButton
                            @task={{this.forgotten}}
                            @class="forgotten-link gh-btn gh-btn-link gh-btn-icon"
                            @tabindex="4"
                            @type="button"
                            @successClass=""
                            @failureClass=""
                            as |task|
                        >
                            <span>{{#if task.isRunning}}{{svg-jar "spinner" class="gh-spinner"}}{{else}}Forgot?{{/if}}</span>
                        </GhTaskButton>
                    </span>
                </GhFormGroup>

                <GhTaskButton @buttonText="Sign in"
                    @task={{this.validateAndAuthenticate}}
                    @showSuccess={{false}}
                    @class="login gh-btn gh-btn-blue gh-btn-block gh-btn-icon"
                    @type="submit"
                    @tabindex="3" />
            </form>

            <p class="main-error">{{if this.flowErrors this.flowErrors}}&nbsp;</p>
            {{/if}}
            
        </section>

  
           
           
    </div>
          <div class="" style="background-color: white; position:sticky; bottom: 2cm;" onclick="location.href='/dates/ghost/signup/333';">
               <div>No member yet?</div> 
                 <span><button class="gh-btn gh-btn-green" onclick="location.href='/dates/ghost/signup/333';"><span>Join us</span></button></span>
</div>
 </div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
