{{!< default}}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<script>
  function checkReload() {
    if ($('.post-card').length < 1) location.reload();
  }
  function success(slug) {
    top.switchFrame(2);
    top.document.getElementById('messengerFrame').contentWindow.location.href='{{@site.url}}/users/'+slug+'/';
   
  }
</script>
<style>
  button {
      {
        {
         !-- margin-bottom: 1.8cm;
        padding: 0.5cm;
        background-color: pink;
        --
      }
    }

    border-radius: 5px;
    height: 1cm;
  }
  header {
    top:0;left:0;
  }
</style>
{{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}

{{#foreach authors}}
<div class="post-card {{slug}}" style="position:absolute; 
                top:0;left:0; width: 100vw; height: 100vh;
                 background-image: url({{cover_image}});>
           
          



  <header class="post-card-header">
    <h2 class="post-card-title">{{name}}</h2>
    <h2 class="slug">{{slug}}</h2>
  </header>

  <img src="{{profile_image}}" style="
  border-style: solid;
                 border-color: violet;
                 border-width: 3mm;">

  <div class="post-card-excerpt">
    <p>{{bio}}</p>
  </div>
<div class="btn-group w-100 p-3" style="position:absolute; bottom:10vh;left:0;">
  <button type="button" class="btn btn-success" 
  onclick="success('{{slug}}');$('.{{slug}}').remove();checkReload()">Yes!</button>
  <button type="button" class="btn btn-danger" onclick="$('.{{slug}}').remove();checkReload()">Maybe</button>
</div>

</div>



{{/foreach}}






{{/get}}