<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Ghost Admin</title>

    {{content-for "head"}}

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta name="pinterest" content="nopin" />

    <meta http-equiv="cleartype" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Ghost" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="assets/img/touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/img/touch-icon-ipad.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/small.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/medium.png" />

    <meta name="application-name" content="Ghost" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-square70x70logo" content="assets/img/small.png" />
    <meta name="msapplication-square150x150logo" content="assets/img/medium.png" />
    <meta name="msapplication-square310x310logo" content="assets/img/large.png" />



    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&amp;display=swap" rel="stylesheet">

    {{content-for "minifiedInProductionCss"}}

    {{content-for "head-footer"}}
</head>
<body>
    <style>
        html *
    {
        font-family: 'Press Start 2P';
    }
    .gh-btn-blue span {
    background: linear-gradient(pink,fuchsia);
    font-weight: 500;
}
    </style>
      <script>
        $( document ).ready(function() {
            top.hideUI();
             $('#carouselExampleFade').carousel('cycle');
        });
    </script>
<div class="ember-load-indicator">
    <div class="gh-loading-content">
        
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                  <!-- <div class="carousel-item active">
                    <img src="/photos/katana1.jpg" class="d-block w-100" alt="..." data-interval="1000">
                  </div>
                  <div class="carousel-item">
                    <img src="/photos/katana2.jpg" class="d-block w-100" alt="..." data-interval="1000">
                  </div> -->
                  <div class="carousel-item">
                    <img src="https://pbs.twimg.com/media/C_PmsA5VYAEbvKp.jpg" class="d-block w-100" alt="..." data-interval="300">
                  </div>
                 
                </div>
              </div>  
        <div class="gh-loading-spinner"></div>
        
        <script>
        top.hideUI();
        </script>
    </div>
</div>

{{content-for "body"}}

{{content-for "body-footer"}}

{{content-for "minifiedInProductionJs"}}
</body>
</html>
